::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #212D54;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg,#61C5CB 0,#212D54 100%);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg,#212D54 0,#61C5CB 100%);
}
::selection{
  background-color: var(--primary);
  color: #fff;
}
*{
  scroll-behavior: smooth;
}
